<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
    <!-- Materialize css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!-- Custom css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />
</head>
<body>
    <div class="container">
        <h1>Outside!</h1>
        {% block content %} <!-- 'content' is a variable name, you can call it what you like, 'content' is just convention -->
        {% endblock %}
    </div>
    
    <!-- jQuery (comes first as materialize js depends on it) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Materialize js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script>
    /*global $*/
        $(document).ready(function() {
            /* Accordion Functionality */
            $('.collapsible').collapsible();
            
            /* Select Box */
            $('select').material_select();
            
            /* Datepicker */
            $('.datepicker').pickadate({ 
                selectMonths: true, //Creates a dropdown to control month
                selectYears: 15, //Create a dropdown of 15 years to control years
                today: 'Today',
                clear: 'Clear',
                close: 'Ok',
                closeOnSelect: false //Close or not when a date is picked
            })
        });
    </script>
</body>
</html>